body{
    font-family: Helvetica;
    background-color: #c6c6c6;
}
article{
    background-color: white;
    padding-bottom: 40px;
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: 10px 5px 5px black;
}
form{
    text-align: center;
}
#title{
    text-align: center;
    margin-left: 30px;
}
#resp{
    margin-bottom: 30px;
}
#calculo{
    text-align: center;
    padding-top: 20px;
}